<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <title>Vespertillio's grotto</title>
</head>
<body>
<h1>building the world one line at a time</h1>


<div class="container marketing">
  <div class="row">
    <div class="col-lg-4">
        <h2>Resume</h2>
        <p>Below you can find an up-to-date copy of my resume, while this dose not cover all of my previouse work
          history it highlights the most important roles I have held to date, most noteabliy my intro into computer
          programming and where some of my skill-sets were picked up</p>
    </div>
    <div class="col-lg-4">
      <h2>current projects</h2>
      <p>a page to host any current projects that are currently being worked on at this time</p>
      <!---- will link to current projects, a small list on front page that links to a fully featured page with info
      on projects ---->
    </div>
    <div class="col-lg-4">
      <h2>Blog</h2>
      <p>A link to my current blog</p>
    </div>
  </div>
  <div class="row"><!-- Trigger the modal with a button -->
    <div class="col-lg-4">

    <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#resumeModal">Open Modal</button>

      <div id="resumeModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">Modal Header</h4>
            </div>
            <div class="modal-body">
              <p>Some text in the modal. 1</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-4">

      <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#currentProjectsModal  ">Open Modal</button>

      <div id="currentProjectsModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">Modal Header</h4>
            </div>
            <div class="modal-body">
              <p>Some text in the modal 2.</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-4">

      <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#blogModal  ">Open
        Modal</button>

      <div id="blogModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">Modal Header</h4>
            </div>
            <div class="modal-body">
              <p>Some text in the modal 3.</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
<div class="col-lg-12">
  Feel free to drop a msg below, Everything links to my email so ill be sure to get it! :D
  <div class="col-lg-12">
    <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#blogModal  ">Open
      Modal</button>

    <div id="blogModal" class="modal fade" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Modal Header</h4>
          </div>
          <div class="modal-body">
            <p>Some text in the modal 3.</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>


